@page
@model FamilyCalender.Web.Pages.EventDetailsModel
@{
}
<div>
	Kalender: @Model.EventDetails.Calendar.Name
</div>
<div>
	Titel: @Model.EventDetails.Title
</div>
<div>
	Medlem jag tryckt på: @Model.Member.Name
</div>
<div>
	Datum:
	<br />
	@foreach(var dates in Model.EventDetails.EventDates)
	{
		@dates.Date.ToString("yyyy-MM-dd");
		<br/>
	}
</div>
<div>
	Alla medlemmar:
	<br />
	@foreach (var m in Model.EventDetails.MemberEvents.ToList())
	{
		@m.Member.Name;
		<br />
	}
</div>