@page
@model FamilyCalender.Web.Pages.EventDetailsModel
@{
	var cultureInfo = new System.Globalization.CultureInfo("sv-SE");
	var sortedDays = Model.SelectedDays.OrderBy(day => day).ToList();
	var daysInSwedish = sortedDays.Select(day => cultureInfo.DateTimeFormat.GetDayName(day)).ToList();
}

<div>
	<div>
		<strong>Kalender:</strong> @Model.EventDetails.Calendar.Name
	</div>
	<div>
		<strong>Titel:</strong> @Model.EventDetails.Title
	</div>

	<div>
		@if (Model.EventDetails.EventDates.Count == 1)
		{
			<strong>Datum:</strong>
			<ul>
				@foreach (var date in Model.EventDetails.EventDates)
				{
					<li>@date.Date.ToString("yyyy-MM-dd")</li>
				}
			</ul>
		}
		else if (Model.EventDetails.EventDates.Count > 1)
		{
			<strong>Intervall:</strong>
			<ul>
				<li><strong>Startdatum:</strong> @Model.EventDetails.EventDates.First().Date.ToString("yyyy-MM-dd")</li>
				<li><strong>Slutdatum:</strong> @Model.EventDetails.EventDates.Last().Date.ToString("yyyy-MM-dd")</li>
				<li><strong>Veckodagar:</strong> @string.Join(", ", daysInSwedish)</li>
			</ul>
		}
		else
		{
			<div>Det finns inget datum på eventet</div>
		}
	</div>
	<div>
		<strong>Medlemmar:</strong>
		<ul>
			@foreach (var member in Model.EventDetails.MemberEvents)
			{
				<li>@member.Member.Name</li>
			}
		</ul>
	</div>
	<div>
		<div type="button" class="btn btn-sm btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#editEventModal">
			Redigera event
		</div>
	</div>
	<div>
		<div type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteEventModal">
			Radera event
		</div>
	</div>
</div>

<!-- Modal för att radera eventet-->
<div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" asp-page-handler="DeleteEvent">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteEventModalLabel">Radera Event</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
				</div>
				<div class="modal-body">

					<!-- Enkelt event på en dag och en person -->
					@if (Model.EventDetails.EventDates.Count == 1 && Model.EventDetails.MemberEvents.Count == 1)
					{
						<p>Det här är ett enkelt event som endast gäller för en person och en dag.</p>
						<p>Vill du radera detta event?</p>
					}
					<!-- Enkelt event på flera personer -->
					@if (Model.EventDetails.EventDates.Count == 1 && Model.EventDetails.MemberEvents.Count > 1)
					{
						<p>Det här eventet gäller flera personer. Välj vilka du vill ta bort eventet för:</p>
						<div id="deleteMemberListSingle">
							@foreach (var member in Model.EventDetails.MemberEvents.Select(e => e.Member))
							{
								<div class="form-check">
									<input class="form-check-input"
										   type="checkbox"
										   id="deleteMember-@member.Id"
										   value="@member.Id"
										   name="selectedMemberIds" />
									<label class="form-check-label" for="deleteMember-@member.Id">@member.Name</label>
								</div>
							}
						</div>
					}
					<!-- Event inom ett intervall -->
					@if (Model.EventDetails.EventDates.Count > 1)
					{
						<p>Det här eventet är en del av ett intervall.</p>
						<div class="form-check">
							<input type="radio"
								   class="form-check-input"
								   id="deleteSingleEvent"
								   name="deleteOption"
								   value="single" checked />
							<label class="form-check-label" for="deleteSingleEvent">
								Radera endast det här eventet: <strong>@Model.Day.ToString("yyyy-MM-dd")</strong>
							</label>
						</div>
						<div class="form-check">
							<input type="radio"
								   class="form-check-input"
								   id="deleteAllEvents"
								   name="deleteOption"
								   value="all" />
							<label class="form-check-label" for="deleteAllEvents">Radera alla event inom intervallet</label>
						</div>
					}
					<!-- Event inom ett intervall med flera personer -->
					@if (Model.EventDetails.EventDates.Count > 1 && Model.EventDetails.MemberEvents.Count > 1)
					{
						<p>Det här eventet gäller flera personer och är en del av ett intervall. Välj vilka personer du vill ta bort för hela intervallet:</p>
						<div id="deleteMemberListInterval">
							@foreach (var member in Model.EventDetails.MemberEvents.Select(e => e.Member))
							{
								<div class="form-check">
									<input class="form-check-input"
										   type="checkbox"
										   id="deleteMember-@member.Id"
										   value="@member.Id"
										   name="selectedMemberIds" />
									<label class="form-check-label" for="deleteMember-@member.Id">@member.Name</label>
								</div>
							}
						</div>
					}
				</div>
				<div class="modal-footer">
					<input type="hidden" asp-for="EventId" value="@Model.EventDetails.Id" />
					<input type="hidden" asp-for="CalendarId" value="@Model.EventDetails.CalendarId" />
					<input type="hidden" asp-for="Day" value="@Model.Day" />
					<input type="hidden" asp-for="Member" value="@Model.Member" />
					<button type="submit" class="btn btn-danger">Radera</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal för att redigera eventet -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" asp-page-handler="UpdateEvent">

				<div class="modal-header">
					<h5 class="modal-title" id="editEventModalLabel">Redigera Event</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
				</div>

				<div class="modal-body">

					<div class="mb-3">
						<label for="editEventTitle" class="form-label">Ändra titel</label>
						<input type="text" class="form-control" value="@Model.EventDetails.Title" asp-for=NewTitle id="editEventTitle" />
					</div>

					<div class="mb-3">
						<label for="editEventDates" class="form-label">Ändra datum för valt event</label>
						<input type="date" class="form-control" value="@Model.Day.ToString("yyyy-MM-dd")" asp-for="NewDate" id="editEventDates" />

					</div>

					@if (Model.EventDetails.EventDates.Count > 1)
					{
						var minEventDate = Model.EventDetails.EventDates.Min(x => x.Date) < DateTime.Today ? DateTime.Today : Model.EventDetails.EventDates.Min(x => x.Date);
						var maxEventDate = Model.EventDetails.EventDates.Max(x => x.Date);

						<div class="accordion" id="eventOptionsAccordion">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Uppdatera intervall
									</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#eventOptionsAccordion">
									<div class="accordion-body">
										<div class="mb-3">
											<label for="editStartDate" class="form-label">Välj nytt startdatum</label>
											<input type="date" class="form-control" asp-for="StartDate" value="@minEventDate.ToString("yyyy-MM-dd")" id="editStartDate" />
											<small id="error-start-date" class="text-danger d-none"></small>


										</div>

										<div class="mb-3">
											<label for="editEndDate" class="form-label">Välj nytt slutdatum</label>
											<input type="date" class="form-control" asp-for="EndDate" value="@maxEventDate.ToString("yyyy-MM-dd")" id="editEndDate" />
											<small id="error-end-date" class="text-danger d-none"></small>

										</div>
										<div class="mb-3">
											<label class="form-label">Välj dagar</label>
											<div>
												<input type="checkbox" name="SelectedDays" value="Monday" @(Model.SelectedDays.Contains(DayOfWeek.Monday) ? "checked" : "") /> Måndag <br />
												<input type="checkbox" name="SelectedDays" value="Tuesday" @(Model.SelectedDays.Contains(DayOfWeek.Tuesday) ? "checked" : "") /> Tisdag <br />
												<input type="checkbox" name="SelectedDays" value="Wednesday" @(Model.SelectedDays.Contains(DayOfWeek.Wednesday) ? "checked" : "") /> Onsdag <br />
												<input type="checkbox" name="SelectedDays" value="Thursday" @(Model.SelectedDays.Contains(DayOfWeek.Thursday) ? "checked" : "") /> Torsdag <br />
												<input type="checkbox" name="SelectedDays" value="Friday" @(Model.SelectedDays.Contains(DayOfWeek.Friday) ? "checked" : "") /> Fredag <br />
												<input type="checkbox" name="SelectedDays" value="Saturday" @(Model.SelectedDays.Contains(DayOfWeek.Saturday) ? "checked" : "") /> Lördag <br />
												<input type="checkbox" name="SelectedDays" value="Sunday" @(Model.SelectedDays.Contains(DayOfWeek.Sunday) ? "checked" : "") /> Söndag
											</div>
										</div>

										<small id="error-right-weekdays" class="text-danger d-none"></small>
										<small id="error-interval-weekdays" class="text-danger d-none"></small>


									</div>
									<div class="mb-3 ms-3 form-check">
										<input type="checkbox" class="form-check-input" id="updateInterval" name="UpdateInterval" asp-for="@Model.UpdateInterval" />
										<label class="form-check-label fw-bold" for="updateInterval">Uppdatera hela intervallet</label>
									</div>
								</div>
							</div>

						</div>
					}

					<div class="mb-3">
						<label for="editMemberList" class="form-label">Välj vilka medlemmar det gäller</label>
						<div id="editMemberList">
							@foreach (var member in Model.Members)
							{
								var isChecked = Model.EventDetails.MemberEvents.Any(e => e.Member.Id == member.Id);

								<div class="form-check">
									<input class="form-check-input member-checkbox"
										   type="checkbox"
										   id="editMember-@member.Id"
										   value="@member.Id"
										   name="selectedMemberIds"
									@(isChecked ? "checked" : "") />
									<label class="form-check-label" for="editMember-@member.Id">@member.Name</label>
								</div>
							}
						</div>
						<small id="memberError" class="text-danger d-none">Du måste välja minst en medlem</small>
					</div>


				</div>
				<div class="modal-footer">
					<input type="hidden" asp-for="EventId" value="@Model.EventDetails.Id" />
					<button type="submit" class="btn btn-primary">Spara ändringar</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
				</div>
			</form>
		</div>
	</div>
</div>