@page
@using FamilyCalender.Core.Models.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FamilyCalender.Web.Pages.EventDetailsModel
@{
	var culture = new System.Globalization.CultureInfo("sv-SE");

}

<div class="d-flex align-items-center">
	<form method="post" asp-page-handler="RouteToIndex">
		<button type="submit" class="btn btn-outline-dark btn-sm">
			<i class="bi bi-arrow-left"></i> Tillbaka
		</button>
		<input type="hidden" asp-for="ViewModel.CalendarId" value="@Model.ViewModel.EventDetails.CalendarId" />
		<input type="hidden" asp-for="ViewModel.Day" value="@Model.ViewModel.Day" />
	</form>
</div>

<div class="container mt-4">
	<div class="card shadow-sm p-3">
		<h5 class="card-title text-center text-dark"><i class="bi bi-calendar-event"></i> Händelsedetaljer</h5>
		<hr>

		<div class="mb-2">
			<strong><i class="bi bi-calendar-event"></i> Kalender:</strong> @Model.ViewModel.EventDetails.Calendar.Name
		</div>
		<div class="mb-2">
			<strong>Titel:</strong> @Model.ViewModel.EventDetails.Title
		</div>

		<div class="mb-2">
			<strong>Beskrivning:</strong>
			<div>
				@Html.Raw(Model.ViewModel.EventDetails.Text.ReplaceLineEndings("<br/>"))
			</div>
		</div>

		<div class="mb-2">
			<strong>Kategorifärg:</strong> @Html.Raw(Model.ViewModel.GetCategoryColorDiamond()) @Model.ViewModel.GetCategoryColorName()
		</div>



		<div class="mb-2">
			<strong> När:</strong>
			@if (Model.ViewModel.IsSingleEvent)
			{
				<span>@Model.ViewModel.FormattedDate</span>
			}
			else
			{
				<span>@Model.ViewModel.FormattedInterval</span>

			}

			@if (!string.IsNullOrWhiteSpace(Model.ViewModel.EventDetails?.EventTime) || !string.IsNullOrWhiteSpace(Model.ViewModel.EventDetails?.EventStopTime))
			{
				<Span> <i class="bi bi-clock"></i> @Model.ViewModel.EventDetails?.EventTime</Span>
				@if (!string.IsNullOrWhiteSpace(Model.ViewModel.EventDetails?.EventTime) && !string.IsNullOrWhiteSpace(Model.ViewModel.EventDetails?.EventStopTime))
				{
					<span> - </span>
				}

				<span>@Model.ViewModel.EventDetails?.EventStopTime</span>
			}

			@if (!Model.ViewModel.IsSingleEvent)
			{
				<br />
				<strong><i class="bi bi-calendar-day"></i> Veckodagar:</strong>
				@string.Join(", ", Model.ViewModel.SortedDaysInSwedish)
			}

		</div>

		<div class="mb-2">
			@if (Model.ViewModel.IsSingleMember)
			{
				<strong><i class="bi bi-person-circle"></i> Gäller:</strong>
			}
			else
			{
				<strong><i class="bi bi-people-fill"></i> Gäller:</strong>

			}
			<ul class="list-group list-group-flush">
				@foreach (var member in Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Member).Distinct().ToList())
				{
					<li class="list-group-item">@member?.Name</li>
				}
			</ul>
		</div>
	</div>

	<!-- Action Buttons -->
	<div class="d-flex justify-content-between mt-3">
		<button class="btn btn-pmf btn-lg flex-fill me-2" data-bs-toggle="modal" data-bs-target="#editEventModal">
			<i class="bi bi-pencil-square"></i>
			Redigera
		</button>
		<button class="btn btn-pmf-inverted btn-lg flex-fill ms-2" data-bs-toggle="modal" data-bs-target="#deleteEventModal">
			<i class="bi bi-trash"></i>
			Radera
		</button>
	</div>
</div>

<!-- Modal för att radera eventet-->
<div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" asp-page-handler="DeleteEvent">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteEventModalLabel">Radera händelse</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
				</div>
				<div class="modal-body">

					<!-- Enkelt event på en dag och en person -->
					@if (Model.ViewModel.EventDetails.EventMemberDates.Count == 1 && Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Member).Count() == 1)
					{
						<p>Det här är en händelse som endast gäller för en person och en dag.</p>
						@foreach (var member in Model.ViewModel.EventDetails.EventMemberDates.Select(e => e.Member).Distinct())
						{
							var isOnlyMember = Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Member).Distinct().Count() == 1;

							<div class="form-check">
								<input class="form-check-input"
									   type="checkbox"
									   id="deleteMember-@member.Id"
									   value="@member.Id"
									   name="selectedMemberIds"
								@(isOnlyMember ? "checked disabled" : "") />
								<label class="form-check-label" for="deleteMember-@member.Id">@member.Name</label>
							</div>
							<input type="hidden" name="selectedMemberIds" value="@Model.ViewModel.Member.Id" />

						}
						<p>Vill du radera denna händelse?</p>
					}
					<!-- Enkelt event på flera personer -->
					@if (Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Date).Distinct().Count() == 1 && Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Member).Distinct().Count() > 1)
					{
						<p>Den här händelsen gäller flera personer. Välj vilka du vill ta bort händelsen för:</p>
						<div id="deleteMemberListSingle">
							@foreach (var member in Model.ViewModel.EventDetails.EventMemberDates.Select(e => e.Member).Distinct())
							{
								var isSelectedMember = member.Id == Model.ViewModel.Member.Id;

								<div class="form-check">
									<input class="form-check-input member-checkbox"
										   type="checkbox"
										   id="deleteMember-@member.Id"
										   value="@member.Id"
										   name="selectedMemberIds"
										   checked="@(isSelectedMember ? "checked" : null)"
										   disabled="@(isSelectedMember ? "disabled" : null)" />
									<label class="form-check-label" for="deleteMember-@member.Id">@member.Name</label>

									@if (isSelectedMember)
									{
										<input type="hidden" name="selectedMemberIds" value="@member.Id" />
									}
								</div>
							}
						</div>
					}
					<!-- Event inom ett intervall -->
					@if (Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Date).Distinct().Count() > 1)
					{
						<p>Den här händelsen är en del av ett intervall.</p>
						<div class="form-check">
							<input type="radio"
								   class="form-check-input"
								   id="deleteSingleEvent"
								   name="deleteOption"
								   value="single" checked />
							<label class="form-check-label" for="deleteSingleEvent">
								Radera endast den här händelsen: <strong>@Model.ViewModel.Day.ToString("yyyy-MM-dd")</strong>
							</label>
						</div>
						<div class="form-check">
							<input type="radio"
								   class="form-check-input"
								   id="deleteAllEvents"
								   name="deleteOption"
								   value="all" />
							<label class="form-check-label" for="deleteAllEvents">Radera alla händelser inom intervallet</label>
						</div>
					}
					<!-- Event inom ett intervall med flera personer -->
					@if (Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Date).Distinct().Count() > 1 && Model.ViewModel.EventDetails.EventMemberDates.Select(x => x.Member).Distinct().Count() > 1)
					{
						<p>Den här händelsen gäller flera personer och är en del av ett intervall. Välj vilka personer du vill ta bort för hela intervallet:</p>
						<div id="deleteMemberListInterval">
							@foreach (var member in Model.ViewModel.EventDetails.EventMemberDates.Select(e => e.Member).Distinct())
							{
								var isSelectedMember = member.Id == Model.ViewModel.Member.Id;

								<div class="form-check">
									<input class="form-check-input member-checkbox"
										   type="checkbox"
										   id="deleteMember-@member.Id"
										   value="@member.Id"
										   name="selectedMemberIds"
										   checked="@(isSelectedMember ? "checked" : null)"
										   disabled="@(isSelectedMember ? "disabled" : null)" />
									<label class="form-check-label" for="deleteMember-@member.Id">@member.Name</label>

									@if (isSelectedMember)
									{
										<input type="hidden" name="selectedMemberIds" value="@member.Id" />
									}
								</div>
							}
						</div>
					}
				</div>
				<div class="modal-footer">
					<input type="hidden" asp-for="ViewModel.EventId" value="@Model.ViewModel.EventDetails.Id" />
					<input type="hidden" asp-for="ViewModel.CalendarId" value="@Model.ViewModel.EventDetails.CalendarId" />
					<input type="hidden" asp-for="ViewModel.Day" value="@Model.ViewModel.Day" />
					<input type="hidden" asp-for="ViewModel.MemberId" value="@Model.ViewModel.Member.Id" />
					<button type="submit" class="btn btn-pmf-inverted">Radera</button>
					<button type="button" class="btn btn-pmf" data-bs-dismiss="modal">Avbryt</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal för att redigera eventet -->
<div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="editEventModalLabel">Redigera händelse</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
			</div>

			<div class="modal-body">
				<form method="post" asp-page-handler="UpdateEvent" onsubmit="return validateEditForm()">

					<div class="mb-3">
						<b for="editEventTitle" class="form-label">Titel</b>
						<input type="text" class="form-control" value="@Model.ViewModel.EventDetails.Title" asp-for=ViewModel.NewTitle id="editEventTitle" />
						<small id="editEventTitleError" class="text-danger d-none">Titel måste finnas</small>
					</div>

					<div class="mb-3">
						<b for="eventText" class="form-label">Beskrivning</b>
						<textarea rows="10" cols="3" class="form-control" asp-for="@Model.ViewModel.EventDetails.Text" id="eventText">
						 </textarea>
						<small id="eventTextError" class="text-danger d-none">Ange titel</small>
					</div>

					@*
					Old color picker - not looking so good on iOS and Android since user default takes over - no colors is shown only name
					<div class="mb-3">
					<b for="SelectedCategoryColor" class="form-label">Kategorifärg</b>
					<select id="categoryColor" class="color-select form-control" asp-for="@Model.ViewModel.EventDetails.EventCategoryColor">
					<option style="background-color: #f8f9fa;" value="">Ingen kategorifärg</option>
					<option style="background-color: #cce5ff;" value="@EventCategoryColor.Blue">Blå (t.ex. för skola/arbete)</option>
					<option style="background-color: #d4edda;" value="@EventCategoryColor.Green">Grön (t.ex. för träning/hälsa)</option>
					<option style="background-color: #fff3cd;" value="@EventCategoryColor.Yellow">Gul (t.ex. för familjeaktivitet)</option>
					<option style="background-color: #f8d7da;" value="@EventCategoryColor.Pink">Rosa (t.ex. för vård/egentid)</option>
					<option style="background-color: #f8c1c1;" value="@EventCategoryColor.Red">Röd (t.ex. för viktigt/påminnelse)</option>
					<option style="background-color: #e2d6f9;" value="@EventCategoryColor.Purple">Lila (t.ex. för fritid/kreativitet)</option>
					</select>
					</div>
					*@

					<div class="mb-3">
						<div class="color-dropdown" onclick="eventColorPickerHelper.ToggleDropdown(event)">

							@switch (Model.ViewModel.EventDetails.EventCategoryColor)
							{
								case EventCategoryColor.None:
									<div class="selected" id="selectedColor">
										Välj en kategorifärg
									</div>
									break;
								case EventCategoryColor.Blue:
									<div class="selected" id="selectedColor">
										Blå (t.ex. för skola/arbete)
									</div>
									break;
								case EventCategoryColor.Green:
									<div class="selected" id="selectedColor">
										Grön (t.ex. för träning/hälsa)
									</div>
									break;
								case EventCategoryColor.Yellow:
									<div class="selected" id="selectedColor">
										Gul (t.ex. för familjeaktivitet)
									</div>
									break;
								case EventCategoryColor.Pink:
									<div class="selected" id="selectedColor">
										Rosa (t.ex. för vård/egentid)
									</div>
									break;
								case EventCategoryColor.Red:
									<div class="selected" id="selectedColor">
										Röd (t.ex. för viktigt/påminnelse)
									</div>
									break;
								case EventCategoryColor.Purple:
									<div class="selected" id="selectedColor">
										Lila (t.ex. för fritid/kreativitet)
									</div>
									break;

								default:
									<div class="selected" id="selectedColor">
										Välj en kategorifärg
									</div>
									break;
							}


							<div class="options" id="colorOptions">
								<div style="background-color: #f8f9fa;" data-color="@EventCategoryColor.None">Ingen kategorifärg</div>
								<div style="background-color: #cce5ff;" data-color="@EventCategoryColor.Blue">Blå (t.ex. för skola/arbete)</div>
								<div style="background-color: #d4edda;" data-color="@EventCategoryColor.Green">Grön (t.ex. för träning/hälsa)</div>
								<div style="background-color: #fff3cd;" data-color="@EventCategoryColor.Yellow">Gul (t.ex. för familjeaktivitet)</div>
								<div style="background-color: #f8d7da;" data-color="@EventCategoryColor.Pink">Rosa (t.ex. för vård/egentid)</div>
								<div style="background-color: #f8c1c1;" data-color="@EventCategoryColor.Red">Röd (t.ex. för viktigt/påminnelse)</div>
								<div style="background-color: #e2d6f9;" data-color="@EventCategoryColor.Purple">Lila (t.ex. för fritid/kreativitet)</div>
							</div>

							<!-- Selected color ends up here for form submit -->
							<input type="hidden" asp-for="@Model.ViewModel.EventDetails.EventCategoryColor" />

							<i class="bi bi-chevron-down"></i>
						</div>
					</div>

					<div class="mb-3">
						<b for="EventTime" class="form-label">Starttid</b>
						<input type="time" id="eventTime" class="form-control" asp-for="@Model.ViewModel.EventDetails.EventTime">
					</div>
					<div class="mb-3">
						<b for="EventTime" class="form-label">Sluttid</b>
						<input type="time" id="eventStopTime" class="form-control" asp-for="@Model.ViewModel.EventDetails.EventStopTime">
					</div>
					<input type="hidden" asp-for="ViewModel.EventId" value="@Model.ViewModel.EventDetails.Id" />
					<input type="hidden" asp-for="ViewModel.Day" value="@Model.ViewModel.Day" />
					<input type="hidden" asp-for="ViewModel.MemberId" value="@Model.ViewModel.Member.Id" />
					<input type="hidden" asp-for="ViewModel.CalendarId" value="@Model.ViewModel.EventDetails.CalendarId" />

					<button type="submit" class="btn btn-pmf">Spara ändringar</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-pmf-inverted" data-bs-dismiss="modal">Stäng</button>
			</div>
		</div>
	</div>
</div>
<script>

	//initialize Color picker to set correct color on Model input field
	eventColorPickerHelper.Init('ViewModel_EventDetails_EventCategoryColor');
</script>