@page
@model FamilyCalender.Web.Pages.HandleCalendarModel
@{
}

<h2><i class="bi bi-calendar"></i> @Model.NewCalendarName</h2>

<div class="d-flex align-items-center">
        <a href="/CalendarOverview" class="btn btn-outline-dark btn-sm">
            <i class="bi bi-arrow-left"></i> Tillbaka
        </a>
</div>

<hr />

@if (Model.IsOwner)
{
	<form method="post">
		<input type="hidden" asp-for="Calendar.Id" />
		<div>
			<b for="name">Kalenderns namn</b>
			<input asp-for="NewCalendarName" class="form-control" />
		</div>
		<button type="submit" asp-page-handler="UpdateName" class="btn btn-pmf rounded-pill px-4 py-2 mt-2 shadow-sm">
            <i class="bi bi-save"></i> Spara namnändring
		</button>
	</form>

	<hr />

}

<h3> <i class="bi bi-people"></i> Medlemmar</h3>

@foreach (var member in Model.Members)
{
	<div class="row align-items-center mb-2">
		<div class="col-12 col-sm-6">
			<strong>@member.Name</strong>
		</div>
		<div class="col-12 col-sm-6 text-sm-end mt-2 mt-sm-0">

			@if (Model.IsOwner)
			{
				<button type="button" class="btn btn-sm btn-pmf-outline rounded-pill px-3 py-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#renameMemberModal-@member.Id">
					Byt namn
				</button>
				<button type="button" class="btn btn-sm btn-pmf-inverted rounded-pill px-3 py-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#deleteMemberModal-@member.Id">
					Ta bort
				</button>
			}

		</div>

		<!-- Modal för att byta namn -->
		<div class="modal fade" id="renameMemberModal-@member.Id" tabindex="-1" aria-labelledby="renameLabel-@member.Id" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post">
						<div class="modal-header">
							<h5 class="modal-title" id="renameLabel-@member.Id">Byt namn på @member.Name</h5>
						</div>
						<div class="modal-body">
							<input type="hidden" asp-for="Calendar.Id" />
							<input type="hidden" asp-for="MemberIdToEdit" value="@member.Id" />
							<input asp-for="NewMemberName" class="form-control" placeholder="Nytt namn" />
						</div>
						<div class="modal-footer">
							<button type="submit" asp-page-handler="RenameMember" class="btn btn-pmf">Spara</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Modal för att bekräfta borttagning av medlem -->
		<div class="modal fade" id="deleteMemberModal-@member.Id" tabindex="-1" aria-labelledby="deleteMemberLabel-@member.Id" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteMemberLabel-@member.Id">Är du säker på att du vill ta bort @member.Name?</h5>
					</div>
					<div class="modal-body">
						Denna åtgärd går inte att ångra.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
						<form method="post" id="deleteMemberForm-@member.Id">
							<input type="hidden" name="MemberId" value="@member.Id" />
							<input type="hidden" name="Calendar.Id" value="@Model.Calendar.Id" />
							<button type="submit" class="btn btn-pmf-inverted" asp-page-handler="DeleteMember">Ja, ta bort</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
}

@if (Model.IsOwner)
{
	<button type="button" class="btn btn-outline-success rounded-pill px-4 py-2 mt-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#addMemberModal">+ Lägg till medlem</button>

	<hr />

	@if (!string.IsNullOrWhiteSpace(Model.ShareLink))
	{
        <h3> <i class="bi bi-share"></i> Dela Kalender</h3>
        <p>Klicka på dela-knappen för att få en delningslänk som du kan maila eller sms:a till de personer du vill bjuda in att delta i din kalender.</p>
		<button type="button" onclick="ToggleShowShareLink()" class="btn btn-pmf">
			 Visa delningslänk
		</button>

		<div id="ShareLinkContainer" class="visually-hidden" style="margin-top: 20px;">
            Dela följande länk med någon du vill ska vara med i din kalender:
            <br/>
            <i class="bi bi-info-circle"></i> <small> Personen du bjuder in måste också ha ett PlaneraMedFlera konto (vi vet, det är as segt - men kontot kan skapas i samband med inbjudan)</small>
			<div class="input-group mb-3">
				<input type="text" class="form-control" value="@Model.ShareLink" id="ShareLinkInput" readonly>
				<div class="input-group-append">
					<a id="CopyShareLinkButton" onclick="CopyShareLink()" class="btn btn-pmf input-group-text"><i class="bi bi-copy"></i> Kopiera</a>
				</div>
			</div>
		</div>
	}

	<hr />

	<h3><i class="bi bi-trash"></i> Radera</h3>
	<form method="post" id="deleteCalendarForm">
		<input type="hidden" asp-for="Calendar.Id" />
		<button type="button" class="btn btn-pmf-inverted rounded-pill px-4 py-2 mt-2 shadow-sm" data-bs-toggle="modal" data-bs-target="#deleteCalendarModal">
			Ta bort hela kalendern
		</button>
	</form>
}
else
{
	<hr />

	<button type="button"
			class="btn btn-sm btn-outline-danger rounded-pill px-3 py-2 shadow-sm"
			data-bs-toggle="modal"
			data-bs-target="#leaveCalendarModal">
		Lämna kalendern
	</button>

}


@if (Model.IsOwner && Model.CalendarUsers.Count > 0)
{
	<hr />

	<h3><i class="bi bi-pencil"></i> Användare med tillgång</h3>

	@foreach (var user in Model.CalendarUsers)
	{
		<div class="row align-items-center mb-2">
			<div class="col-12 col-sm-6">
				<strong>@user.Email</strong>
			</div>
			<div class="col-12 col-sm-6 text-sm-end mt-2 mt-sm-0">

				@if (Model.IsOwner)
				{
					<button type="button"
							class="btn btn-sm btn-pmf-inverted rounded-pill px-3 py-2 shadow-sm"
							data-bs-toggle="modal"
							data-bs-target="#removeAccessModal-@user.Id">
						Ta bort tillgång
					</button>

				}

			</div>
		</div>

		<!-- Modal för att ta bort en användare från kalendern -->
		<div class="modal fade" id="removeAccessModal-@user.Id" tabindex="-1" aria-labelledby="removeAccessLabel-@user.Id" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="removeAccessLabel-@user.Id">Ta bort @user.Email?</h5>
					</div>
					<div class="modal-body">
						Denna användare kommer tappa tillgång till kalendern.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
						<form method="post">
							<input type="hidden" name="CalendarId" value="@Model.Calendar.Id" />
							<input type="hidden" name="UserId" value="@user.Id" />
							<input type="hidden" asp-for="CurrentUser.Id" />
							<button type="submit" asp-page-handler="RemoveAccess" class="btn btn-pmf-inverted">Ja, ta bort tillgång</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
}
else if (!Model.IsOwner)
{
	<hr />
	<h3>Ägare av @Model.Calendar.Name är @Model.CalendarUsers[0].Email</h3>
}

<hr/>

<div class="d-flex align-items-center">
	<a href="/CalendarOverview" class="btn btn-outline-dark btn-sm">
        <i class="bi bi-arrow-left"></i> Tillbaka
    </a>
</div>

<!-- Modal för att lägga till medlem -->
<div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="addLabel">Lägg till ny medlem</h5>
				</div>
				<div class="modal-body">
					<input type="hidden" asp-for="Calendar.Id" />
					<input asp-for="NewMemberName" class="form-control" placeholder="Namn på medlem" />
				</div>
				<div class="modal-footer">
					<button type="submit" asp-page-handler="AddMember" class="btn btn-success">Lägg till</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
				</div>
			</form>
		</div>
	</div>
</div>



<!-- Modal för att bekräfta borttagning av kalender -->
<div class="modal fade" id="deleteCalendarModal" tabindex="-1" aria-labelledby="deleteCalendarLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteCalendarLabel">Är du säker på att du vill ta bort kalendern?</h5>
			</div>
			<div class="modal-body">
				Denna åtgärd går inte att ångra.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
				<button type="submit" form="deleteCalendarForm" class="btn btn-pmf-inverted" asp-page-handler="DeleteCalendar">Ja, ta bort</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal för att lämna kalender -->
<div class="modal fade" id="leaveCalendarModal" tabindex="-1" aria-labelledby="leaveCalendarLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="leaveCalendarLabel">Lämna kalendern?</h5>
			</div>
			<div class="modal-body">
				Du kommer att tappa all åtkomst till kalendern.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
				<form method="post">
					<input type="hidden" name="CalendarId" value="@Model.Calendar.Id" />
					<input type="hidden" asp-for="CurrentUser.Id" />
					<input type="hidden" name="UserId" value="@Model.CurrentUser.Id" />
					<button type="submit" asp-page-handler="RemoveAccess" class="btn btn-pmf-inverted">Ja, lämna</button>
				</form>
			</div>
		</div>
	</div>
</div>

