@page
@model FamilyCalender.Web.Pages.IndexModel
@{
	ViewData["Title"] = "Calendar";
	var cultureInfo = Model.CultureInfo;
	var daysInMonth = Model.DaysInMonth;
	var members = Model.Members ?? new List<FamilyCalender.Core.Models.Member>(); 
	var currentMonth = new DateTime(Model.CurrentYear, Model.CurrentMonth, 1);
	var monthName = currentMonth.ToString("MMMM", new System.Globalization.CultureInfo("sv-SE"));
	var capitalizedMonthName = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(monthName);

	var membersCount = members.Count;
	var fixedDayColumnWidth = 8;
	var remainingColumnWidth = membersCount > 0 ? 100m / membersCount : 0;
}
<a class="btn btn-primary" asp-page="/CreateCalendar">Skapa kalender</a>
@if (Model.SelectedCalendar.Id == 0)
{
	<p>Ingen kalender hittades</p>
}
else
{

	<h2>@Model.SelectedCalendar.Name</h2>
	<h3 class="d-flex justify-content-between align-items-center">
		<a asp-page="./Index" asp-route-year="@(Model.CurrentMonth == 1 ? Model.CurrentYear - 1 : Model.CurrentYear)"
		   asp-route-month="@(Model.CurrentMonth == 1 ? 12 : Model.CurrentMonth - 1)"
		   asp-route-calendarId="@Model.SelectedCalendar?.Id"
		   class="btn btn-secondary btn-block mb-2">Föregående månad</a>
		<span>@capitalizedMonthName @Model.CurrentYear</span>
		<a asp-page="./Index" asp-route-year="@(Model.CurrentMonth == 12 ? Model.CurrentYear + 1 : Model.CurrentYear)"
		   asp-route-month="@(Model.CurrentMonth == 12 ? 1 : Model.CurrentMonth + 1)"
		   asp-route-calendarId="@Model.SelectedCalendar?.Id"
		   class="btn btn-secondary btn-block mb-2">Nästa månad</a>
	</h3>

	@if (Model.Calendars != null && Model.Calendars.Count > 1)
	{
		<form method="get">
			<div class="calendar-buttons">
				@foreach (var calendar in Model.Calendars)
				{
					<button type="submit" name="calendarId" value="@calendar.Id"
							class="btn @(calendar.Id == Model.SelectedCalendar?.Id ? "btn-primary" : "btn-outline-primary")">
						@calendar.Name
					</button>
				}
				<input type="hidden" name="year" value="@Model.CurrentYear" />
				<input type="hidden" name="month" value="@Model.CurrentMonth" />
			</div>
		</form>
	}
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="col-12 col-md-2 text-center">Dag</th>
				@foreach (var member in members)
				{
					<th class="col-12 col-md-2 text-center">@member.Name</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var day in daysInMonth)
			{
				<tr>
					<td class="col-12 col-md-2">
						@{
							var isCurrentDay = day.Date == DateTime.Today;
							var isPastDay = day.Date < DateTime.Today;
							var calendar = cultureInfo.Calendar;
							var weekOfYear = calendar.GetWeekOfYear(day, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);

							if (day.DayOfWeek == DayOfWeek.Monday || day.Day == 1)
							{
								<b>@($"v. {weekOfYear}")</b>
								<br />
							}

							var dayOfWeek = day.ToString("dddd", Model.CultureInfo);
							var friendlyDayOfWeek = $"{dayOfWeek[0].ToString().ToUpper()}{dayOfWeek.Substring(1)}";
						}

						<span class="@((isCurrentDay ? "fw-bold" : "") + (isPastDay ? " text-muted" : ""))">
							@($"{day.Day} {friendlyDayOfWeek}")
						</span>
						@if (!isPastDay)
						{							
							<a href="javascript:void(0)"
							   class="text-decoration-none ms-2"
							   data-bs-toggle="modal"
							   data-bs-target="#eventModal"
							   data-selected-date="@day.Date.ToString("yyyy-MM-dd")"
							   data-calendar-id="@Model.SelectedCalendar?.Id"
							   onclick="setModalValues(this)">
								<i class="bi bi-plus-circle event-icon" title="Lägg till event"></i>
							</a>
						}
					</td>

					@foreach (var member in members)
					{
						var bookings = Model.SelectedCalendar.Events
						.Where(e => e.MemberEvents.Any(me => me.Member.Name == member.Name) &&
						e.EventDates.Any(d => d.Date == day.Date))
						.ToList();
						<td class="col-12 col-md-2">
							<div class="d-flex flex-column">
								<div class="d-flex justify-content-between align-items-start">
									<span class="text-start">
										@if (bookings.Any())
										{
											foreach (var eventItem in bookings)
											{
												@eventItem.Title
												<br />
											}
										}
									</span>

								</div>
							</div>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
}

<!-- The Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Lägg till event</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<form method="post" asp-page-handler="AddEvent" onsubmit="return validateForm()">

					<div class="mb-3">
						<label class="form-label">@Model.SelectedCalendar.Name</label>
						<input type="hidden" asp-for="SelectedCalendarId" value="@Model.SelectedCalendar.Id" />
					</div>

					<div class="mb-3">
						<label for="modalSelectedDate" class="form-label">Datum</label>
						<input type="date" class="form-control" asp-for="SelectedDate" id="modalSelectedDate" />
						<small id="dateError" class="text-danger d-none">Datumet kan inte vara bakåt i tiden</small>

					</div>
					<div class="mb-3">
						<label class="form-label">Välj medlemmar</label>
						<div id="memberList">
							@foreach (var member in Model.Members)
							{
								<div class="form-check">
									<input class="form-check-input member-checkbox" type="checkbox" id="member-@member.Id" value="@member.Id" name="SelectedMemberIds" />
									<label class="form-check-label" for="member-@member.Id">@member.Name</label>
								</div>
							}
						</div>
						<small id="memberError" class="text-danger d-none">Du måste välja minst en medlem</small>
					</div>


					<div class="mb-3">
						<label for="eventTitle" class="form-label">Titel</label>
						<input type="text" class="form-control" asp-for="EventTitle" id="eventTitle" />
						<small id="eventTitleError" class="text-danger d-none">Ange titel</small>

					</div>

					<input type="hidden" asp-for="CurrentYear" value="@Model.CurrentYear" />
					<input type="hidden" asp-for="CurrentMonth" value="@Model.CurrentMonth" />

					<button type="submit" class="btn btn-primary">Skapa Event</button>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
			</div>

		</div>
	</div>
</div>


